# ========================
# PYTHON
# ========================
__pycache__/
*.pyc

# ========================
# MODEL FILES
# ========================
*.pth

# ========================
# DATASET
# ========================
leukemia-dataset/

# ========================
# NODE / NEXT
# ========================
node_modules/
.next/
out/

# ========================
# ENV
# ========================
.env

# ========================
# LOGS
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db